*.probe
*.lock
*.bin
*.jar
*.backup
*.properties
fabric*.pom
minecraft*.pom
*.tmp
*.kotlin_module
*.tab
*.tab_i
*.tab.keystream
*.tab.values
*.tab.values.s
*.tab.values.at
*.len
*.html
*.json
MANIFEST.MF
*.tiny
.gradle/
*.class
**/build/
